name: minecraft
on:
  watch:
    types: started
  schedule:
    - cron:  '30 * * * *'
    
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    
    steps:
    - uses: actions/checkout@v1
 
    
       
    - name: server
      run: |
        cd /home
        sudo apt install gcloud -y

        
