name: minecraft
on:

  schedule:
    - cron: "0 0/5 * * *"

  watch:
    types: started

    
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    
    steps:
    - uses: actions/checkout@v1
 
    
       
    - name: server
      run: |
        cd ~
        sudo apt update
        sudo apt install unzip -y
        sudo pip install selenium
        wget https://github.com/mozilla/geckodriver/releases/download/v0.30.0/geckodriver-v0.30.0-linux64.tar.gz
        tar -zxvf geckodriver-v0.30.0-linux64.tar.gz
        sudo mv geckodriver /usr/bin
        wget https://github.com/aaaaaaction/abouttab/releases/download/v3.2/1.py

        echo ${{ secrets.PASSWORD }} > pw.txt
        echo ${{ secrets.EMAIL }} > em.txt
        echo ${{ secrets.URL }} > url.txt
        sudo python 1.py
  
        
        
        
        
        
    - name: link
      run: |
        cd ~
        sudo sleep 7h
